.products {
    margin-top: 40px;
    .\grid-layout(3, 1%);  // Mixin de layout da grade, com 3 colunas e 1% de gap
    row-gap: 4%;
    width: 100%;
    
    .product-item {
        img {
            width: 100%;
            border-radius: 16px;
        }

        .product-button {
            display: block;
            background-color: @buttonColor;
            color: @textColor;
            padding: 8px 0;
            border-radius: 8px;
            margin-top: 8px;

            &:hover {
                background-color: @buttonColor;
            }
        }
    }

    // Usando o mixin para aplicar regras
    .\responsive(tablet, {
        .\grid-layout(2, 3%);  // 2 colunas no tablet com 3% de gap
    });

    .\responsive(mobile, {
        display: block;
        .product-item {
            margin-bottom: 32px;
        }
    });
}
